.dropdown-main {
  position: relative;
  user-select: none;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  display: inline-block;
  vertical-align: top;
  padding-left: 12.96%;
  padding-right: 12.96%;
}

.dropdown-main-button {
  cursor: pointer;
  border-style: solid;
  border: none;
  font-size: 30px;
  text-align: center;
  background-color: white;
  padding-bottom: 15px;
}

.dropdown-main-button-border-default {
  border-style: solid;
  border: none;
  cursor: pointer;
}

.dropdown-main-button-border-open {
  border-style: solid;
  animation: underlineGradualy 0.5s;
  border-width: 1px;
  cursor: pointer;
}

.button-icon-closed {
  animation: rotateDown 0.5s;
  transform: rotate(180deg);
}

.button-icon-open {
  animation: rotateUp 0.5s;
  transform: rotate(0deg);
}

.dropdown-option-button {
  border-radius: 2px;
  text-align: center;
  border: none;
  cursor: pointer;
  font-size: 30px;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: transparent;
}

.dropdown-options-div {
  animation: fadeIn 0.5s;
}

.dropdown-option-button:hover {
  background-color: rgba(255, 245, 0, 0.3);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes underlineGradualy {
  0% {
    transform: scaleX(0);
    transform-origin: 50% 0;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 50% 0;
  }
}

@keyframes rotateDown {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotateUp {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
