/* Updated class names for better consistency */

.dropdown-main {
  position: relative; /* Changed to relative for better positioning */
}

.dropdown-main-button,
.dropdown-options-div,
.dropdown-option-button {
  cursor: pointer;
}

.dropdown-main-button {
  border: none;
}

.dropdown-main-button:hover {
  border: 1px solid transparent; /* Added to maintain consistency with border on open */
}

.dropdown-main-button-border-open {
  border-style: solid;
  animation: underlineGradually 0.5s;
  text-align: center;
  border-width: 1px;
}

.button-icon-closed {
  animation: rotateDown 0.5s;
  transform: rotate(180deg);
}

.button-icon-open {
  animation: rotateUp 0.5s;
  transform: rotate(0deg);
}

.dropdown-options-div {
  animation: fadeIn 0.5s;
}

.dropdown-option-button:hover {
  background-color: rgba(255, 245, 0, 0.3);
}

.inner-div {
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes underlineGradually {
  0% {
    transform: scaleX(0);
    transform-origin: 50% 0;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 50% 0;
  }
}

@keyframes rotateDown {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotateUp {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
