
.verticalcenter {
    text-align: center;
    border-radius: 5px;
    position: relative;
    border: 3px solid green;
    background-color: rgba(255, 245, 0, 0.9);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    cursor: pointer;
    font-size: 30px;
}